Requirements:

---- Programs on Windows ---
Python 3.12 - The programming language and runtime for your code.
PostgreSQL - The relational database server.
pgAdmin - A graphical interface for managing PostgreSQL databases.
Git - Version control system.
Postman - Tool for testing and sending API requests.
Visual Studio Code (VS Code) - Code editor

------- Python Packages Installed (inside your venv)
flask
flask_sqlalchemy
psycopg2-binary
requests (for testing)